/* ----------------------------------------- */
/*  ROOT                                     */
/* ----------------------------------------- */
:root {
    --gametool-button-size: 66px;
    --gametool-button-img-size: 60px;    
}

/* ========================= */
/*        FENETRE           */
/* ========================= */
.tor2e-gametool-window .window-content {
    background: transparent;
    object-fit: fill;
    height: 100%;
    border: 0;
    padding: 0;
    margin : 0;
    color: white;

    .window-content {
        padding: 0 !important;
        overflow-x: visible !important;
        overflow-y: visible !important;
        box-shadow: unset;
    }
}

.tor2e-gametool-window .window-header {
    /* display: none; */
   text-align: center;
}



/* ========================= */
/*   CONTENU DE LA FENETRE   */
/* ========================= */

.tor2e-gametool-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    position: relative;    
}

/* ========================= */
/*           PERIOD          */
/* ========================= */
.tor2e-gametool-period {
    max-width:100%;
    text-align: center;
    /*color: #902622;*/
    color: #ffffff;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-decoration: underline overline #902622;
}

/* ========================= */
/*         CALENDAR         */
/* ========================= */
.tor2e-gametool-calendar {
    display: flex;
    flex-direction: row;
    min-width:100%;
}

.tor2e-gametool-calendar-part {
    text-align: center;
    max-width:50%;
}
.tor2e-gametool-calendar-img {
    max-width:50%;
    min-width: 50%;
    border: 0;
}
.tor2e-gametool-calendar-text {
    color:white;
    font-size:medium;
    font-weight: bold;
    text-align: center;
}

/* ========================= */
/*         ACTORS            */
/* ========================= */
.tor2e-gametool-actors {
    display: flex;
    flex-direction: row;
    min-width:100%;
}

.tor2e-gametool-actor-part {
    text-align: center;
    max-width:50%;
}
.tor2e-gametool-actor {
    max-width:50%;
    min-width: 50%;
    object-fit: contain;
    object-position: 50% 0;
    align-items: middle;
    display: inline-flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.tor2e-gametool-actor:hover {
    box-shadow: 0 0 10px #939799ff inset;
    border: 2px solid #ff6400ff;
}

.tor2e-gametool-actor:active {
    outline: 0;
}


.tor2e-gametool-ligne-separation {
    border: none;
    margin-bottom: 1em;
}

/* ========================= */
/*          FOOTER           */
/* ========================= */
.tor2e-gametool-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 0;
    margin : 0;
    padding : 0;
}

.tor2e-gametool-footer-img {
    border : 0;
}